body {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

#container {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    text-align: center;
}
#container h1:before {
    content: "<";
}
#container h1:after {
    content: ">";
}
#container ul {
    list-style: none;
    padding: 0;
}
#container ul li {
    padding-bottom: 1em;
}
#container ul li:last-child {
    padding: 0;
}
